/*.tmp
/*.tmp[0-9]
/*.tmpdir/
/*~
/*.bak
/*.aux
/*.pdf
/*.log
/*.toc
/*.lof
/*.blg
/*.bbl
/*.out
/*.nav
/*.snm
/*.dep
/*.fdb_latexmk
/*.tar.gz
/calcgen[123].tex
/howlinks.tex
/tesi-for-display.tex
/tesi-for-print.tex
/hownotes.tex
/tesi-slides.tex
/tesi-notes.tex
